* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
#counter-componenet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-size: 32px;
}
#counter-componenet button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 18px;
}
#counter-componenet button:hover {
  background-color: #e1e1e1;
}
